{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var add_story_url = "{{=URL('api', 'add_story')}}";
  var delete_url = "{{=URL('api', 'delete_story')}}";
  var get_all_stories_URL = "{{=URL('api', 'get_all_stories')}}"
  var search_URL = "{{=URL('api', 'search')}}"
  var get_heatmap_data_URL = "{{=URL('api', 'get_heatmap_data')}}"
</script> {{end}}

<div id="vue-div" class="main_content">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!--HEADER -->
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <div id="search">
          <input type="text" v-model="search_phrase"> ${search_phrase}
          <button v-on:click="search_button">Search</button>
        </div>

        <div class="mdl-layout-spacer">
          <img id="logo" src="../static/images/xplo_logo.png" alt="logo">
        </div>
        <button v-if="!logged_in" @click="login_redirect()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Login
        </button>
        <button v-if="logged_in" @click="logout_redirect()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Logout
        </button>
        <button v-on:click="toggle_heatmap" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Toggle Heatmap
        </button>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
        mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <!-- DRAWER -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Stories</span>
    <nav class="mdl-navigation">
      <!-- CARD -->
      <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">title Text Goes Here</h2>
        </div>
        <div class="mdl-card__media">
          <img src="photo.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
        </div>
        <div class="mdl-card__supporting-text">
          This text might describe the photo and provide further information, such as where and when it was taken.
        </div>
        <div class="mdl-card__actions">
          <a href="(URL or function)">Related Action</a>
        </div>
      </div>
    </nav>
  </div>

  <main class="mdl-layout__content" id="wrapper">
    <div id="map-overlay" class="cover">
      <!-- CONFIRM DIV -->
      <div id="confirm-location-container" v-if="confirming" class="absolute">
        <div class="mdl-card mdl-shadow--4dp" class="bottom-popup">
          <div class="mdl-card__supporting-text">
            Do you want to place a marker at this location?
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a v-on:click="confirm_button(true)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Yes
            </a>
            <a v-on:click="confirm_button(false)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              No
            </a>
          </div>
        </div>
      </div>

      <div v-if="entering_text" class="dim cover">
        <div class="card-wide mdl-card mdl-shadow--2dp" v-on:blur="confirm_button(false)">
          <div class="mdl-card__title">
            <div class=" mdl-textfield mdl-js-textfield">
              <input id="title_text_area" v-model="title_text" type="text" class="mdl-textfield__input">
              <label class="mdl-textfield__label" for="title_text_area">Title</label>
            </div>
          </div>

          <div class="mdl-card__supporting-text">
            <textarea id="body_text_area" v-model="body_text" cols="1" rows="2" placeholder="Enter the body here"></textarea>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button v-on:click="enter_text_button" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Share your story with the world!
            </button>
            <button v-on:click="confirm_button(false)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Cancel
            </button>
          </div>
        </div>
      </div>


      <!-- BUTTON -->
      <!-- Colored FAB button -->
      <div v-show="logged_in" id="button-bar">
        <button v-on:click="add_story_button()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
          <i class="material-icons">add</i>
        </button>
        <button v-on:click="deleteins" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
          <i class="material-icons">delete</i>
        </button>
      </div>

      <!-- SEARCH RESULTS -->
      <div v-if="search_results.length > 0" id="card-container" class="column" style="right:500px">
        <!-- CARD -->
        <h3>YOUR SEARCH RESULTS</h3>
        <div v-for="story in search_results">
          <div class="mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">${story.title}</h2>
            </div>
            <div class="mdl-card__media">
              <img src="photo.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
            </div>
            <div class="mdl-card__supporting-text">
              <!-- This text might describe the photo and provide further information, such as where and when it was taken. -->
              ${story.body} User ID: ${story.created_by} Time: ${story.created_on}
            </div>
            <div class="mdl-card__actions">
              <a href="(URL or function)">Related Action</a>
            </div>
          </div>
        </div>
      </div>
      <!-- CARD CONTAINER -->
      <div id="card-container" class="column">
        <!-- CARD -->
        <div v-for="story in stories">
          <div class="mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">${story.title}</h2>
            </div>
            <div class="mdl-card__media">
              <img src="photo.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
            </div>
            <div class="mdl-card__supporting-text">
              <!-- This text might describe the photo and provide further information, such as where and when it was taken. -->
              ${story.body} User ID: ${story.created_by} Time: ${story.created_on}
            </div>
            <div class="mdl-card__actions">
              <a href="(URL or function)">Related Action</a>
            </div>
            <div class="mdl-card__actions mdl-card--border" v-on:click="expandins(story)">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Expand
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="card-container" style="right:500px" v-if="expandvar">


        <div class="mdl-card mdl-shadow--4dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">${expandstory.title}</h2>
          </div>
          <div class="mdl-card__media">
            <img src="photo.jpg" width="220" height="140" border="0" alt="" style="padding:20px;">
          </div>
          <div class="mdl-card__supporting-text" style="height:400px">
            ${expandstory.body} User ID: ${expandstory.created_by} Time: ${expandstory.created_on}
          </div>
          <div class="mdl-card__actions">
            <a href="(URL or function)">Related Action</a>
          </div>
          <div class="mdl-card__actions mdl-card--border" v-on:click="closeins">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Close
            </a>
          </div>
        </div>

      </div>

    </div>
  <!-- MAP -->
  <div class="page-content" id="map"></div>
</main>

</div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<!-- <script src="{{=URL('static', 'maps.js')}}"></script>
 -->