/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
 /* padding: 10px;*/
}

.mdl-layout__header{
  background-color: 0,0,255 !important;
}

.mdl-textfield {
  display: inline-flex;
}

.mdl-layout__drawer {
  /*display: flex;
  align-items: center;*/
}

.mdl-card {
  height: auto !important;
  width: 80% !important;
  align-self: center;
}

/* rules for the embedded google map element */
#map {
  height: 100%;
  width: 100%;
}

#logo {
  max-height: 60%;
  width: auto;
  flex: 1;
}
