/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
 /* padding: 10px;*/
}

.mdl-layout__header{
  background-color: 0,0,255 !important;
}

.mdl-textfield {
  display: inline-flex;
}

.mdl-layout__drawer {
  /*display: flex;
  align-items: center;*/
}

.color-drop { background-color: #009688; }
.color-drop-complement { background-color: #7FCAC3; }
.dim {background-color: rgba(38, 12, 12, 0.44) !important}

#map-wrapper {position: relative;}

.centered {
  width: 50%;
  height: 100%;
  margin: auto;
}

/* rules for the embedded google map element */
#map {
  height: 100%;
  width: 100%;
}

.cover {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 3;
}

.cover > div { pointer-events: all; }

#button-bar {
  height: 100%;
  padding-left: 2em;
  padding-top: 4em;
  float: left;
  z-index: 1;
}

#card-container {
  width  : 25%;
  height : 100%;
  background: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;
  overflow-y: scroll;

}

.card-wide.mdl-card {
  min-width: 50%
}

.mdl-card {
  height: auto;
  width: auto;
  align-self: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo {
  max-height: 60%;
  width: auto;
  flex: 1;
}

.column {
  display: block;
}

.bottom-popup {
  position: absolute;
  bottom: 0px;
  align-self: center;
}

.absolute {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 0;
}

.no-scrollbar {
  overflow: hidden;
}

#expanded-card-container {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#expanded-card {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.06); z-index: 1 }
